{% extends "layout/user_layout.html" %}

{% set tags = tags %}

{% block user_content %}
    <div class="book-search">
        <p>
            Hae kirjaa:
        </p>

        <form action="/{{username}}/haku" method="get">
            <p>
                Kirjan nimi: <br />
                {% if name %}
                <input type="text" name="name" value="{{ name }}"/>
                {% else %}
                <input type="text" name="name" />
                {% endif %}
            </p>
            <p>
                Kirjoittajan nimi: <br />
                {% if author %}
                <input type="text" name="author" value="{{ author }}"/>
                {% else %}
                <input type="text" name="author" />
                {% endif %}
            </p>
            <p>
                Julkaisuvuosi: <br />
                {% if year %}
                <input type="number" name="year" value="{{ year }}" />
                {% else %}
                <input type="number" name="year" />
                {% endif %}
            </p>
            <p>
                ISBN: <br />
                {% if isbn %}
                <input type="text" name="isbn" value="{{ isbn }}" />
                {% else %}
                <input type="text" name="isbn" />
                {% endif %}
            </p>
            <p>
                Hae tägillä:
                <input type="checkbox" id="search-with-tag-checkbox" name="search-with-tag" value="1"/>
            </p>
            <p>
            <label for="Valitse tägi"></label>
            <select name="tag_list" id="tag-list">
                {% for tag in tags %}
                    <option value="{{ loop.index }}" >
                        {{ tag[0] }}
                    </option>
                {% endfor %}
            </select>
        </p>
            <p>
                Haetaan myös toisten käyttäjien hyllyistä: 
                <input type="checkbox" id="search-from-other-users-checkbox" name="search-from-everyone-choice" value="1"/>
                
            </p>
            <input type="submit" value="Hae" />

        </form>
        </div>
        
        {% if result %}
        {% set  result = result %}
        {% include "search_view/book_search_list.html" %}
        {% endif %}



    
{% endblock %}