<div class="book-list">
    {% for book in books %}
    <div class="book-entry">
        <p>
            ---------------------------------
        </p>
        <p>
            <b>{{ book[1] }}</b>
        </p>
        <p>
            Kirjoittaja: {{ book[2] }}
        </p>
        <p>
            julkaisuvuosi: 
            {% if book[3] %}
            {{ book[3] }}
            {% endif %}
        </p>
        <p>
            ISBN: 
            {% if book[4] %}
            {{ book[4] }}
            {% endif %}
        </p>
        <p>
            sivumäärä: 
            {% if book[5] %}
            {{ book[5] }}
            {% endif %}
        </p>
        
        <p>
            synopsis:
            {% if book[6] %}
            {{ book[6] }}
            {% endif %}
        </p>
        <p>
            <form action="/remove_book/{{ username }}/{{ shelf_name }}/{{ book[0] }}" method="post">
                <input type="submit" value="Poista kirja" />
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            </form>

                
            
        </p>
        <p>
            <a href="/{{ username }}/{{ shelf_name }}/muokkaa_kirjaa/{{ book[0] }}">
                Muokkaa kirjaa
            </a>
        </p>
        
    </div>
    {%  endfor %}
</div>