<!DOCTYPE html>

<div class="book-search-list">
    {% for book in result %}
    <div class="book-entry">
        <p>
            ---------------------------------
        </p>
        <p>
            <b>{{ book[0] }}</b>
        </p>
        <p>
            Kirjoittaja: {{ book[1] }}
        </p>
        <p>
            sivumäärä: 
            {% if book[2] %}
            {{ book[2] }}
            {% endif %}
        </p>
        <p>
            synopsis:
            {% if book[3] %}
            {{ book[3] }}
            {% endif %}
        </p>
        <p>
            Käyttäjä: {{ book[4] }}
        </p>
        <p>
            Kirjahylly: {{ book[5] }}
        </p>
        
    </div>
    {%  endfor %}
</div>