<!DOCTYPE html>

<div class="book-search-list">
    {% for entry in result %}
    <div class="book-entry">
        <p>
            ---------------------------------
        </p>
        <p>
            <b>{{ book[1] }}</b>
        </p>
        <p>
            Kirjoittaja: {{ book[2] }}
        </p>
        <p>
            sivumäärä: 
            {% if book[3] %}
            {{ book[3] }}
            {% endif %}
        </p>
        <p>
            synopsis:
            {% if book[4] %}
            {{ book[4] }}
            {% endif %}
        </p>
        <p>
            <a href="/remove_book/{{ book[0] }}">
                Poista kirja
            </a>
        </p>
        <p>
            <a href="/{{ username }}/{{ name }}/uusi-kirja">
                Lisää uusi kirja
            </a>
        </p>
    </div>
    {%  endfor %}
</div>