<div class="book-modification-form">
    <form action="/modify_book/{{ session.username }}/{{ shelf_name }}/{{ book_id }}" method="post">
        <p>
            Kirjan nimi: <br />
            <input type="text" name="name" value="{{ book_name }}"/>
        </p>
        <p>
            Kirjoittajan nimi: <br />
            <input type="text" name="author" value="{{ book_author }}"/>
        </p>
        <p>
            Julkaisuvuosi: <br />
            <input type="number" name="year" value="{{ book_year }}"/>
        </p>
        <p>
            ISBN: <br />
            <input type="text" name="isbn" value="{{ book_ISBN | default('') }}"/>
        </p>
        <p>
            Sivumäärä: <br />
            <input type="number" name="pages" value="{% if book_pages is not none %}{{ book_pages }}{% else %}{% endif %}"/>
        </p>
        <p>
            Synopsis: <br />
            <input type="text" name="synopsis" value="{% if book_synopsis is not none %}{{ book_synopsis }}{% else %}{% endif %}"/>
        </p>
        <p>
            <label for="Valitse tägi"></label>
            <select name="tag_list" id="tag-list">
                {% for tag in tags %}
                    <option value="{{ loop.index }}" {% if loop.index == tag_id %}selected{% endif %}>
                        {{ tag[0] }}
                    </option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="Muokkaa kirjaa" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
    <p>
        {% if book_modification_message %}
        {{ book_modification_message }}
        {% endif %}
    </p>
    <p>
        <div class="normal-button">
            <a href="/{{ session.username }}/hyllyt/{{ shelf_name }}/1">
            Takaisin
        </a>
        </div>
    </p>
</div>