{% extends "user_layout.html" %}

{% block user_content %}
<div class="new-shelf-form">
    <p>
        Uusi kirjahylly
    </p>

    <form action="/create_shelf" method="post">
        <p>
            <label for="name">Hyllyn nimi: </label> <br />
            <input type="text" name="name" />
        </p>
        <p>
            <label for="description">Hyllyn kuvaus:</label> <br />
            <input type="text" name="description" />
        </p>
        <p>
            <label for="public-choice">Onko tämä kirjahylly julkinen? </label>
            <input type="checkbox" id="public-shelf-checkbox" name="public-choice" />
        </p>
        <input type="submit" value="Luo kirjahylly" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
    <p>
        <div class="normal-button">
            <a href="/{{ session.username }}/hyllyt">
            Takaisin
        </a>
        </div>
        
    </p>
</div>

{% endblock %}