{% extends "user_layout.html" %}

{% block user_content %}
<div class="new-shelf-form">
    <p>
        Uusi kirjahylly
    </p>

    <form action="/create_shelf" method="post">
        <p>
            Hyllyn nimi: <br />
            <input type="text" name="name" />
        </p>
        <p>
            Hyllyn kuvaus: <br />
            <input type="text" name="description" />
        </p>
        <p>
            Onko tämä kirjahylly julkinen?
            <input type="checkbox" id="public-shelf-checkbox" name="public-choice" />
        </p>
        <input type="submit" value="Luo kirjahylly" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
    <p>
        <a href="/{{ session.username }}/hyllyt">
            Takaisin
        </a>
    </p>
</div>

{% endblock %}