<div class="new-book-form">
    <p>
        Uusi kirja
    </p>

    <form action="/create_book/{{ username }}/{{ shelf_name }}" method="post">
        <p>
            <label for="name">Kirjan nimi: </label> <br />
            <input type="text" name="name"/>
        </p>
        <p>
            <label for="author">Kirjoittajan nimi: </label> <br />
            <input type="text" name="author"/>
        </p>
        <p>
            <label for="year">Julkaisuvuosi: </label> <br />
            <input type="number" name="year" />
        </p>
        <p>
            <label for="isbn">ISBN(voi jättää tyhjäksi): </label> <br />
            <input type="text" name="isbn" />
        </p>
        <p>
            <label for="pages">Sivumäärä(voi jättää tyhjäksi):</label> <br />
            <input type="number" name="pages"/>
        </p>
        <p>
            <label for="synopsis">Synopsis(voi jättää tyhjäksi): </label> <br />
            <input type="text" name="synopsis"/>
        </p>
        <p>
            <label for="Valitse tägi">Valitse tägi: </label>
            <select name="tag_list" id="tag-list">
                {% for tag in tags %}
                    <option value="{{ loop.index }}">{{ tag[0] }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="Lisää kirja" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
    <p>
        {% if add_book_message %}
        {{ add_book_message }}
        {% endif %}
    </p>
    <p>
        <div class="normal-button">
            <a href="/{{ username }}/hyllyt/{{ shelf_name }}/1">
            Takaisin
        </a>
        </div>
        
    </p>
</div>