{% extends "index.html" %}

{% block main_content %}
<p>
    Rekisteröi uusi käyttäjä!
</p>
<form action="/create" method="post">
    <p>
        <label for="username">Käyttäjänimi:</label> <br />
        <input type="text" name="username" />
    </p>
    <p>
        <label for="password">Salasana:</label> <br />
        <input type="password" name="password1" />
    </p>
    <p>
        <label for="password2">Salasana uudestaan:</label> <br />
        <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
</form>
<p>
    <div class="normal-button">
        <a href="/">Takaisin etusivulle</a>
    </div>
</p>
{% if register_message %}
    {{ register_message }}
{% endif %}
{% endblock %}