{% extends "user_layout.html" %}

{% block user_content %}
    <div class="book-search">
        <p>
            Hae kirjaa:
        </p>

        <form action="/{{username}}/haku" method="get">
            <p>
                Kirjan nimi: <br />
                {% if name %}
                <input type="text" name="name" value="{{ name }}"/>
                {% else %}
                <input type="text" name="name" />
                {% endif %}
            </p>
            <p>
                Kirjoittajan nimi: <br />
                {% if author %}
                <input type="text" name="author" value="{{ author }}"/>
                {% else %}
                <input type="text" name="author" />
                {% endif %}
            </p>
            <p>
                Haetaan myös toisten käyttäjien hyllyistä: 
                <input type="checkbox" id="search-from-other-users-checkbox" name="search-from-everyone-choice" value="1"/>
            </p>
            <input type="submit" value="Hae" />

        </form>
        <p>
            Hakutulokset:
        </p>
        {% set  result = result %}
        {% include "book_search_list.html" %}
    </div>
{% endblock %}