{% extends "user_layout.html" %}

{% set tags = tags %}

{% block user_content %}
    <div class="book-search">
        <p>
            Hae kirjaa:
        </p>

        <form action="/{{username}}/haku/1" method="get">
            <p>
                <label for="name">Kirjan nimi: </label> <br />
                {% if name %}
                <input type="text" name="name" value="{{ name }}"/>
                {% else %}
                <input type="text" name="name" />
                {% endif %}
            </p>
            <p>
                <label for="author">Kirjoittajan nimi: </label> <br />
                {% if author %}
                <input type="text" name="author" value="{{ author }}"/>
                {% else %}
                <input type="text" name="author" />
                {% endif %}
            </p>
            <p>
                <label for="year">Julkaisuvuosi: </label> <br />
                {% if year %}
                <input type="number" name="year" value="{{ year }}" />
                {% else %}
                <input type="number" name="year" />
                {% endif %}
            </p>
            <p>
                <label for="isbn">ISBN: </label> <br />
                {% if isbn %}
                <input type="text" name="isbn" value="{{ isbn }}" />
                {% else %}
                <input type="text" name="isbn" />
                {% endif %}
            </p>
            <p>
                <label for="search-with-tag">Hae tägillä: </label>
                <input type="checkbox" id="search-with-tag-checkbox" name="search-with-tag" value="1"/>
            </p>
            <p>
            <label for="Valitse tägi">Valitse tägi: </label>
            <select name="tag_list" id="tag-list">
                {% for tag in tags %}
                    <option value="{{ loop.index }}" >
                        {{ tag[0] }}
                    </option>
                {% endfor %}
            </select>
        </p>
            <p>
                <label for="search-from-everyone-choice">Haetaan myös toisten käyttäjien hyllyistä: </label> 
                <input type="checkbox" id="search-from-other-users-checkbox" name="search-from-everyone-choice" value="1"/>
                
            </p>
            <input type="submit" value="Hae" />

        </form>
        </div>

        {% if search_message %}
            {{ search_message }}
        {% endif %}
        
        {% if result %}
        {% set  result = result %}
        {% set page_count = page_count %}
        {% set page = page %}
        {% include "book_search_list.html" %}
        {% endif %}



    
{% endblock %}