<!DOCTYPE html>
<div class="shelf-view">
    <p>
        <b>{{ name }}</b>
    </p>
    <p>
        Kirjojen lukumäärä: {{ number_of_books }}
    </p>
    <p>
        Kuvaus: {{ description }}
    </p>
    <p>
        <a href="/{{ username }}/{{ name }}/uusi-kirja" title="Lisää kirja" id="add-book-button">
            Lisää uusi kirja
        </a>
    </p>
    <p>
        <a href="/{{ username }}/hyllyt" title="takaisin" id="back-to-shelves-view-button">
            Takaisin
        </a>
    </p>
</div>