<!DOCTYPE html>
<div class="user_menu">
    <div class="parent inline-flex-parent">
        <div class="child user-menu-button">
            <a href="/{{ session.username }}/hyllyt" title="kirjahyllyt" id="shelves_button">Kirjahyllyt</a>
        </div>
        <div class="child user-menu-button">
            <a href="/search_book" title="Etsi kirjaa" id="search_book_button">Etsi kirjaa</a>
        </div>
        <div class="child user-menu-button">
            <a href="/{{ session.username }}" title="Profiili" id="profile_button">Profiili</a>
        </div>
        <div class="child user-menu-button">
            <a href="/logout" title="Kirjaudu ulos" id="logout_button">Kirjaudu ulos</a>
        </div>
    </div>
</div>
